input[type=text], input[type=password], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background: rgba(160, 13, 23, 1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.contenido-principal {
  border: 3px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 700px;
  height: 700px;
  color: white;
  position: absolute;
  top: 20%;
}
