input[type=text], input[type=password], input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background: rgba(160, 13, 23, 1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

#user-img {
  font-size: 100px;
  color: rgba(160, 13, 23, 1);
  margin-left: 220px;
  margin-right: auto;
}

.fondo-registration {
  background-image: url(http://www.telemundo.com/sites/nbcutelemundo/files/images/gallery/2016/09/15/microfono-solitario-escenario.jpg);
}

label {
  color: white;
}

/*Parte de html de ventas*/

.body-ventas {
  height: 100%;
  font-family: arial, helvetica, sans-serif;
  background: rgba(160, 13, 23, 1);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-ventas {
  text-align: center;
  padding: 20px 0;
}


div.hero-ventas img {
  width: 100%;
}

.texto-nuestros-productos {
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-top: 30px;
  font-size: 30px;
}

ul.lista-productos li {
  float: left;
  width: 20%;
  padding: 10px;
  text-align: center;
}

ul.lista-productos li img {
  border: 10px solid rgba(70, 13, 23, 0.45);
  height: 160px;
  width: 160px;
}

ul.lista-productos li img:hover {
  border: 10px solid rgba(70, 13, 23, 1);
}

ul.lista-productos li p {
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
}

ul.lista-productos li p span {
  font-size: 30px;
  color: #ffce00;
}

.boton {
  background-color: #ffce00;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(128, 1 , 195, 0.8);
  font-size: 18px;
}

.boton:hover{
  color: rgba(128, 1 , 195, 1);
}

/*NavBar*/

#navbar-principal {
  background-color: black;
  border-color: black;

}

#input-navbar {
  width: 350px;
  margin-left: 100px;
}

#submit-navbar {
  width: 70px;
}
